<div class="wrapper container-fluid">
    <div class="wrapper_content">
        <div class="col-12 col-md-12 main ">
            <div class="col-12 col-md-12 d-flex main_content">
                <div class="col-1 col-md-1 sideBar ">
                    <div class="col-8 sideBar_content">
                        <div class="nav_icon_cont active"><img class="nav_icons" src="../assets/images/gauge-high-solid.svg"></div>   
                        <div class="nav_icon_cont"><img class="nav_icons" src="../assets/images/gear-solid.svg"></div>
                    </div>
                </div>
                <div class="col-11 py-4 px-2 main_section">
                    <div class="col-12 col-md-12 py-3 main_sec_padd">
                        <div class="col-12 col-md-12 display">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>